:root {
    --clr-white: #eee;
    --clr-light: #c4b8af;
    --clr-neutral: #a0968b;
    --clr-dark: #706457;


    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;

    color: var(--clr-dark);
    background-color: var(--clr-white);
}

p {
    margin: 0;
}

.flex {
    display: flex;
    gap: 20px;
}

.grid {
    display: grid;
    gap: 10px;
}

.container {
    flex-direction: column;
    max-width: 600px;
    padding: 1rem;
}

.scoreboard {
    grid-template-columns: 1fr 1fr;
}

.scoreboard div {
    flex: 1;
    padding: 20px;

    text-align: center;
    font-size: min(3rem, 10vw);
    font-weight: 700;

    background-color: var(--clr-neutral);
    color: var(--clr-white);

    border-radius: 20px;
}

.scoreboard p {
    font-size: min(2rem, 6vw);
    color: var(--clr-white);
}

.grid-container {
    width: 90%;
    padding: 10px;
    align-self: center;

    background-color: var(--clr-neutral);
    border-radius: 4px;

    grid-template-columns: repeat(4, 1fr);
}

.grid-tile {
    aspect-ratio: 1;
    background-color: var(--clr-light);
    border-radius: 4px;
}

.subcontainer p {
    flex: 2;
    font-size: min(1.25rem, 4.5vw);
}

.subcontainer button {
    flex: 1;
    
    font-size: min(1.75rem, 6vw);
    font-weight: 700;

    color: var(--clr-white);
    background-color: var(--clr-dark);

    border: 0px;
    border-radius: 10px;
}