:root {
    --clr-white: #eee;
    --clr-light: #e0d8d0;
    --clr-dark: #908880;
    --clr-btn: #776655;


    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;

    color: var(--clr-dark);
    background-color: var(--clr-white);
}

p {
    margin: 0;
}

.flex {
    display: flex;
    gap: 10px;
}

.container {
    flex-direction: column;
    max-width: 800px;
    padding: 1rem;
}

.scoreboard div {
    flex: 1;
    padding: 20px;

    text-align: center;
    font-size: 3rem;
    font-weight: 700;

    background-color: var(--clr-dark);
    color: var(--clr-white);

    border-radius: 20px;
}

.scoreboard p {
    font-size: 2rem;
    color: var(--clr-light);
}

.subcontainer p {
    flex: 2;
}

.subcontainer button {
    flex: 1;
    
    font-size: 2rem;
    font-weight: 700;

    color: var(--clr-white);
    background-color: var(--clr-btn);

    border: 0px;
    border-radius: 10px;
}